fastapi
uvicorn[standard]
gunicorn

pydantic
pydantic-settings

langchain
langchain-core
langchain-community
langchain-google-community
langchain-google-vertexai
google-genai

pinecone

asyncpg

python-dotenv